@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    background-color: #fcf5eb;
}
.whole{
    margin-top: 4rem;
    margin-left: 8.5rem;
    box-shadow: 6px 6px 5px rgb(212, 193, 177);
}
.left{
    width: 54rem;
    height: 39rem;
    background-color: #7b2e76;
    z-index: 1;
    display: flex;
}

a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #7b2e76;
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
}
li{
    color: #fcf5eb;
    font-size: 18px;
    display: inline;
    margin-left: 3rem;
    
}
.header ul{
    list-style-type: none;
    margin-top: 2.5rem;
    background-color: #fdede8;
    margin-left: 8rem;
    padding: .5rem 0.5rem;
    z-index: 2;
    position: absolute;
    border-radius: 18px;
    width: 60rem;
    box-shadow: 4px 4px  #f6acdd;
}
.right{
    width: 24rem;
    height: 39rem;
    background-color: #fcf5eb;
    z-index: 1;
}
.circle{
    border-radius: 100%;
    border: 1px solid black;
    color: black;
    padding: 5px;
}
.close{
    margin-left: -2rem;
}
.nst{
    margin-top: 1rem;
    margin-left: 3rem;
    
}
.name{
    color: white;
    font-family: 'Michroma', sans-serif;
    margin-left: 3.8rem;
    font-size: 40px;
    margin-top: -1rem;
    letter-spacing: 4.5px;
}
.normal{
    font-weight: lighter;
}
.sub{
    font-size: 13px;
    font-family: 'Michroma', sans-serif;
    color: white;
    margin-left: 3.8rem;
    letter-spacing: 2px;

}

.subsub{
    margin-left: 3.8rem;
    width: 22rem;
    color: white;
    margin-top: 1rem;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.subleft{
    margin-right: 33rem;
    margin-top: 5rem;
    height: 39rem;
}

.team{
    margin-left: 3.8rem;
    color: white;
    display: flex;
    margin-top: 2rem;
    padding-right: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.bold{
    font-weight: bold;
}
.prize{
    margin-left: 3.7rem;
    color: white;
    display: flex;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.theme{
    margin-left: 4rem;
    color: white;
    display: flex;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.timing{
    margin-left: 4rem;
    color: white;
    display: flex;
    margin-top: 3vh;
    font-family: 'Open Sans', sans-serif;
}
.rules{
    margin-left: 4rem;
    color: white;
    display: flex;
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}
.subright{
    margin-top: 3rem;
    margin-left: -4rem;
}
.nritya{
    margin-top: 4rem;
    margin-left: -25rem;
}
.small{
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
}
.time{
    display: flex;
    margin-left: -23rem;
    margin-top: .5rem;
}

.lowertt{
    color: white;
    font-size: 10px;
    width: 20rem;
    margin-top: 1rem;
    margin-left: -23rem;
    letter-spacing: 2px;
}
.white{
    background-color: #fcf5eb;
    height: 4rem;
    width: 4rem;
    margin-right: 0.5rem;
    font-size: 45px;
    color: #72196c;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
.letter{
    letter-spacing: 5px;
}
.purple{
    background-color: #f6acdd;
    height: 4rem;
    width: 4rem;
    margin-right: 0.5rem;
    font-size: 45px;
    color: #72196c;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
.day{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.3rem;
    font-size: 8px;
    margin-left: 1rem;
}


.hour{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.3rem;
    font-size: 8px;
    margin-left: .8rem;
}

.minute{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.3rem;
    font-size: 8px;
    margin-left: 1.1rem;
}

.second{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.3rem;
    font-size: 8px;
    margin-left: 0.1rem;
}
.michroma{
    font-family: 'Michroma', sans-serif;
}
.top{
    padding-top: 9rem;
    margin:auto;
    text-align: center;
    width: 15rem;
    padding-bottom: 7rem;
}
.greet{
    color: #72196c;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}
.btn{
    border: 1px solid #72196c;
    border-radius: 18px;
    font-family: 'Michroma', sans-serif;
    color: #72196c;
    letter-spacing: 1px;
    background-color: #fcf5eb;
    font-size: 13px;
    padding: 0.8rem 0.3rem;
    margin-bottom: 1.5rem;
}
.tt{
    color: #72196c;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.cone{
    display: flex;
    color: #7b2e76;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8rem;
    margin-top: 1rem;
    font-size: 13px;
}
.contact{
    padding-right: 0.3rem;
}

.cname{
    letter-spacing: 1px;
}
.cno{
    letter-spacing: 1px;
}
.ttright{
    font-family: 'Michroma', sans-serif;
    margin-top: -3rem;
    margin-left: 6rem;
    font-size: 25px;
    color: #7b2e76;
    letter-spacing: 3px;
}

.tttright{
    font-family: 'Michroma', sans-serif;
    margin-left: 11.5rem;
    font-size: 15px;
    color: #7b2e76;
}

.smalltt{
    color: #7b2e76;
    margin-left: 8rem;
    font-size: 10px;
    width: 10rem;
    text-align: right;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.nrityakala{
    display: flex;
}
